name: HRM Auto Login

on:
  schedule:
    - cron: "35 14 * * *"   # Runs daily at 8:05 PM IST
  workflow_dispatch:

jobs:
  run-login:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install selenium webdriver-manager

      - name: Run login automation
        env:
          HRM_USERNAME: ${{ secrets.HRM_USERNAME }}
          HRM_PASSWORD: ${{ secrets.HRM_PASSWORD }}
        run: |
          python login.py
